{
    log {
        output stdout
        format console             # Формат: console, json, filter
        level DEBUG                 # Уровень: DEBUG, INFO, WARN, ERROR, PANIC
    }
    local_certs
}

localhost:443 {
    @blocked not remote_ip
    respond @blocked "Access denied" 403
    reverse_proxy 127.0.0.1:4466
}

localhost:5443 {
    @blocked not remote_ip
    respond @blocked "Access denied" 403
    reverse_proxy 127.0.0.1:5000
}

www.maestro.local:443 {
    @blocked not remote_ip
    respond @blocked "Access denied" 403
    reverse_proxy 127.0.0.1:4466
}

api.maestro.local:5443 {
    @blocked not remote_ip
    respond @blocked "Access denied" 403
    reverse_proxy 127.0.0.1:5000
}
