MAESTRO_API_HOST=127.0.0.1
MAESTRO_API_PORT=5000
MAESTRO_API_DEBUG=false
MAESTRO_CORS_ORIGINS=*
MAESTRO_TALOS_COMMAND_TIMEOUT_SECONDS=30
MAESTRO_NMAP_COMMAND_TIMEOUT_SECONDS=120
MAESTRO_PORT_CHECK_TIMEOUT_SECONDS=3
